
@{
    ViewBag.Title = "ManageCourse";
    Layout = "~/Views/Shared/_DashboardAdmin.cshtml";
}


<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/Content/video-js.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table.min.js"></script>

<script src="~/Scripts/ManageCousre.js"></script>

<div class="container content">
    <h2 style="text-align:center">Danh sách khóa học</h2>
                <table class="table table-hover"
                       id="table_course"
                       data-toggle="table"
                       data-height="540"
                       data-ajax="get_course"
                       data-show-refresh="true"
                       data-search="true"
                       data-buttons="custom_btn"
                       data-pagination="true"
                       data-page-list="[10, 25, 50, 100, 200, All]"
                       data-url="../api/ds_khoahoc">
                    <thead>
                        <tr>
                            <th  data-field="TenKH">Tên khóa học</th>
                            <th  data-field="MoTaKH">Mô tả</th>
                            <th  data-field="LuotDK">#</th>
                            <th  data-field="Baihoc" data-formatter="chitietbaihoc" data-events="get_baihoc">Tác vụ</th>
                        </tr>
                    </thead>
                </table>
   </div>

<div class="modal fade" id="coursemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titlecoursemodal">Thông tin khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wrap">
                    <label>Tên khóa học</label>
                    <input class="form-control"  type="text" id="txt_tenkh" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap">
                    <label>Mô tả</label>
                    <input class="form-control" type="text" id="txt_motakh" />
                    <span class="focus-input"></span>
                </div>

                <div class="wrap">
                    <label>Hình ảnh</label>

                    <input class="form-control" type="text" id="txt_hinhanh" />
                    <span class="focus-input"></span>
                    <p></p>
                    <img  style="display: block; margin-left: auto; margin-right: auto; width: 50%;" id="hinhanh">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary"  onclick="save()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chaptermodal" value="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titlecoursemodal">Danh sách bài học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">

                <table class="table table-hover"
                       id="table_chapter"
                       data-toggle="table"
                       data-height="540"
                       data-search="true"
                       data-show-refresh="true"
                       data-buttons="btn_add_baihoc"
                       data-pagination="true"
                       data-page-list="[ 25, 50, 100, 200, All]"
                       >
                    <thead>
                        <tr>
                            <th data-field="GioiThieu">Bài học</th>
                            <th data-field="LuocHoc">#</th>
                            <th data-field="MaBaiHoc" data-formatter="xoabaihoc" data-events="chap_event">Tác vụ</th>
                        </tr>
                    </thead>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                
            </div>
        </div>
    </div>
</div>
