*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ced3e7;
    font-family: 'Poppins', sans-serif;
}

input{
    outline: none;
    border: none;
}

.heading{
    width: 80%;
}
/*
.logo{
    width:100px;
}
*/
.heading h1{
    font-size: 1.6rem;
    font-weight: 400;
    color: #412277;
}

.container{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    background-color: #f8f9fb;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 10px 38px rgba(0,0,0,0.2);
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.image{
    width: 45%;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrap{
    width: 80%;
    position: relative;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 10px;
}

label{
    font-size: 11px;
    color: #676768;
    line-height: 0.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 2px 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

input{
    display: block;
    width: 100%;
    font-size: 18px;
    background: transparent;
    color: #0f0f0f;
    font-weight: 500;
    padding: 10px 0px;
}

.btn{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 0.9rem;
    border: none;
    background: #002171;
    color: #fff;
    box-shadow: 8px 10px 30px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.btn:hover{
    background: #5472d3;
    color: #fff;
}

.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
    background: #412277;
}

a{
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 0.8rem;
    transition: .3s;
}

a:hover{
    color: #002171;
}

input:focus + .focus-input::before{
    width: 100%;
}

.has-val.input + .focus-input::before{
    width: 100%;
}

input[type="number"]{
    overflow: hidden;
}

@media(max-width:1250px){
    .container{
        width: 90%;
    }
}

@media(max-width:768px){
    .container{
        width: 100%;
        height: 100vh !important;
        position: static;
        transform: translate(0,0);
    }
}

@media(max-width:1000px){
    .image{
        display: none;
    }
    .container{
        height: 95vh;
    }
    .form{
        width: 100%;
    }
}

@media(max-width:500px){
    .wrap{
        flex-direction: column;
    }
}


