@{
    ViewBag.Title = "MyLesson";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<style>
    a:hover {
        color: #3b7ddd;
    }
    .card:hover{
        z-index: 1;
        box-shadow: 0 8px 50px rgba(0,0,0,0.2);
        transform: scale(1.05);
        transition: 0.3s all;
    }
</style>

<!--header-->
<div class="btn-group mb-5">
    <a class="dropdown-item" href="#"><i class="far fa-clipboard"></i> Việc cần làm</a>
    <a class="dropdown-item" href="#"><i class="far fa-comment-dots"></i> Để đánh giá</a>
    <a class="dropdown-item" href="#"><i class="far fa-calendar-alt"></i> Lịch</a>
</div>

<!--card-->
<div class="page-section banner-info">
    <div class="row">
        <div class="card col-lg-3 py-3 m-5">
            <div class="card-header" style="background: url(https://www.gstatic.com/classroom/themes/img_breakfast.jpg) center center; color: #fff;">
                <h5 style="font-weight: 600; text-transform: uppercase;"><a href="#" style="color: #fff;">Java đến hướng đối tượng</a></h5>
                <p class="card-text">
                    GV Nguyen Van A
                </p>
            </div>
            <div class="card-body">
                <p class="card-title">Hạn thứ ba</p>
                <p class="card-text">
                    11:59 PM - Bài học
                </p>
            </div>
            <div class="card-footer">
                <div class="icon_right d-flex float-right">
                    <a href="#"><i class="far fa-id-badge m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-folder m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-trash-alt m-2" style="font-size: 20px; color: black;"></i></a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 py-3 m-5">
            <div class="card-header" style="background: url(https://www.gstatic.com/classroom/themes/img_learnlanguage.jpg) center center; color: #fff;">
                <h5 style="font-weight: 600; text-transform: uppercase;"><a href="#" style="color: #fff;">SQL Server</a></h5>
                <p class="card-text">
                    GV Nguyen Van B
                </p>
            </div>
            <div class="card-body">
                <p class="card-title">Hạn thứ tư</p>
                <p class="card-text">
                    11:59 PM - Bài học
                </p>
            </div>
            <div class="card-footer">
                <div class="icon_right d-flex float-right">
                    <a href="#"><i class="far fa-id-badge m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-folder m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-trash-alt m-2" style="font-size: 20px; color: black;"></i></a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 py-3 m-5">
            <div class="card-header" style="background: url(https://www.gstatic.com/classroom/themes/img_backtoschool.jpg) center center; color: #fff;">
                <h5 style="font-weight: 600; text-transform: uppercase;"><a href="#" style="color: #fff;">Lập trình C#</a></h5>
                <p class="card-text">
                    GV Nguyen Van C
                </p>
            </div>
            <div class="card-body">
                <p class="card-title">Hạn thứ năm</p>
                <p class="card-text">
                    11:59 PM - Bài học
                </p>
            </div>
            <div class="card-footer">
                <div class="icon_right d-flex float-right">
                    <a href="#"><i class="far fa-id-badge m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-folder m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-trash-alt m-2" style="font-size: 20px; color: black;"></i></a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 py-3 m-5">
            <div class="card-header" style="background: url(https://www.gstatic.com/classroom/themes/img_code.jpg) center center; color: #fff;">
                <h5 style="font-weight: 600; text-transform: uppercase;"><a href="#" style="color: #fff;">Lập trình C++</a></h5>
                <p class="card-text">
                    GV Nguyen Van D
                </p>
            </div>
            <div class="card-body">
                <p class="card-title">Hạn thứ sáu</p>
                <p class="card-text">
                    11:59 PM - Bài học
                </p>
            </div>
            <div class="card-footer">
                <div class="icon_right d-flex float-right">
                    <a href="#"><i class="far fa-id-badge m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-folder m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-trash-alt m-2" style="font-size: 20px; color: black;"></i></a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 py-3 m-5">
            <div class="card-header" style="background: url(https://www.gstatic.com/classroom/themes/img_code.jpg) center center; color: #fff;">
                <h5 style="font-weight: 600; text-transform: uppercase;"><a href="#" style="color: #fff;">Lập trình Python</a></h5>
                <p class="card-text">
                    GV Nguyen Van E
                </p>
            </div>
            <div class="card-body">
                <p class="card-title">Hạn thứ bảy</p>
                <p class="card-text">
                    11:59 PM - Bài học
                </p>
            </div>
            <div class="card-footer">
                <div class="icon_right d-flex float-right">
                    <a href="#"><i class="far fa-id-badge m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-folder m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-trash-alt m-2" style="font-size: 20px; color: black;"></i></a>
                </div>
            </div>
        </div>

        <div class="card col-lg-3 py-3 m-5">
            <div class="card-header" style="background: url(https://www.gstatic.com/classroom/themes/img_graduation.jpg) center center; color: #fff;">
                <h5 style="font-weight: 600; text-transform: uppercase;"><a href="#" style="color: #fff;">Lập trình Front-End</a></h5>
                <p class="card-text">
                    GV Nguyen Van F
                </p>
            </div>
            <div class="card-body">
                <p class="card-title">Hạn chủ nhật</p>
                <p class="card-text">
                    11:59 PM - Bài học
                </p>
            </div>
            <div class="card-footer">
                <div class="icon_right d-flex float-right">
                    <a href="#"><i class="far fa-id-badge m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-folder m-2" style="font-size: 20px; color: black;"></i></a>
                    <a href="#"><i class="far fa-trash-alt m-2" style="font-size: 20px; color: black;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>