
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Courses</h2>

<script>
    $(document).ready(function () {
        $("#courseli ").addClass("active")
    });
</script>