
/*header*/
.bg {
    background: url(../images/code.jpg);
    height: 30vh;
    filter: blur(1px);
}

.breadcrumb {
    display: flex;
    list-style: none;
    border-radius: 0.25rem;
}

.breadcrumb-item{
    color: #000;
}

.content {
    padding-top: 20px;
}

.content h3{
    color: #000;
    font-size: 1.5rem;
}

.content i {
    padding-right: 10px;
    font-size: 1.5rem;
    color: #000;
}
